<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        ul 
        {
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            background-color: black;
            color:white;
            font-size:30px;
        }
    </style> 
</head>
<body>
    

    <ul >
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</body>
</html>