<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to Nitan thapa website</h1>
    <img src={{img}} alt="not found" >
    {{!-- imp img is search in the static folder
    and we had made upload as a static folder --}}

   


</body>
</html>