<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{!-- vvimp in any input field we can not finde other datatype
    we can only send string --}}

<form action="/register" method="POST" enctype="multipart/form-data">
{{!-- imp if enctype is writeen
then ther must be at leas one file in form other wise it will show error
and  multer() middlewar must be use otherwise it will show error --}}
<input type="text" placeholder="username" name="username">
<input type="file" name="imagesfile">

{{!-- if you want to send multiple file then replace above code by --}}
{{!-- <input type="file" name="imagesfile" multiple > --}}

    <button type="submit">register to home page</button>
    
    </form>


</body>
</html>