<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/login" method="POST">

    <input type="email" placeholder="email" name="email" required="true">
    {{!-- note name field is very important --}}
    <input type="password" placeholder="password" name="password" required="true">
    <button type="submit">login to home page</button>
    </form>
    
</body>
</html>