<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/resetpassword" method="POST">
        <input type="email" placeholder="email" name="email">
        <button type="submit"> reset password</button>

    </form>
</body>
</html>