<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/rpassword/{{email}}" method="POST">
        <input type="password" placeholder=" new password" name="password">
        <h1>{{email}}</h1>
        <button type="submit"> reset password</button>

    </form>
</body>
</html>