<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlink}}

<style>
{{>style}}
</style>

</head>
<body>
    
    {{!-- using partial --}}
    {{>header}}
    <h1>this is {{ home}} page</h1>
    {{>footer}}

{{!-- {{>check}} --}}
{{!-- imp   you can not reuse check.hbs file 
because it folder p1 is not register as pargials --}}




</body>
</html>



