.error-boundary-wrapper {
  margin-top: 20px;
  text-align: center;
  height: calc(100vh - 168px);
}

.error-boundary-wrapper .error-image {
  height: 85%;
}

.error-boundary-wrapper .error-text {
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 32px;
  font-weight: 600;
}

.error-boundary-wrapper .error-text .try-again-text {
  display: block;
  font-size: 28px;
}
/*# sourceMappingURL=error-boundary.css.map */