<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{!-- vvimp in any input field we can not finde other datatype
    we can only send string --}}

    <form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="conformed password" name="conformedpassword">
    {{!-- male<input type="radio" name="gender" value="male">
    female<input type="radio" name="gender" value="female"> --}}

{{!-- in select no need to give value if value is given it will not affect --}}
{{!-- and the name must be given in select --}}
    {{!-- <select name="country" >
        <option  id="" >nepal</option>
        <option  id="" >india</option>
        <option  id="" >china</option>
    </select> --}}

{{!-- imp evern for checkbosx we can not send its value as boolean
we can send its value as string --}}
  {{!-- do you like milk <input name="likemilk" type="checkbox" value="true" > --}}
  {{!-- so you might be thinking what will be value if it is not click
  //the answer is the value will be set in  the schema
  ie make default ="false" --}}

  {{!-- comment <textarea name="comment" id="" cols="30" rows="10"></textarea> --}}

    <button type="submit">submit</button>
    
    </form>


</body>
</html>