@media (max-width: 768px) {
  .alice-carousel {
    @apply mx-auto max-w-[450px];
  }
}

.alice-carousel__dots {
  @apply hidden;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  @apply absolute top-1/2 left-[-15px] md:left-[-25px] z-10  translate-y-[-50%] !w-auto;
}

.alice-carousel__next-btn {
  @apply right-[-15px]  md:right-[-25px] left-auto;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  @apply w-[45px] h-[45px] md:w-[50px] md:h-[50px] !flex justify-center items-center rounded-full bg-white shadow-md;
}

.alice-carousel__prev-btn-item span::after,
.alice-carousel__next-btn-item span::after {
  @apply text-[25px];
}

.featured-section .featured-carousel {
  @apply md:pr-4 w-full;
}

@media (min-width: 768px) {
  .featured-section .featured-carousel {
    width: calc(100% - 100px);
  }
}

.alice-carousel__next-btn [data-area]::after,
.alice-carousel__prev-btn [data-area]::after {
  @apply hidden;
}

.alice-carousel__next-btn [data-area]::before,
.alice-carousel__prev-btn [data-area]::before {
  content: '\e905';
  font-family: 'icomoon';
  @apply text-[22px] inline-block rotate-180 mt-1;
}

.alice-carousel__prev-btn [data-area]::before {
  @apply inline-block rotate-0 mt-0;
}

.alice-carousel__next-btn-item.__inactive,
.alice-carousel__prev-btn-item.__inactive {
  @apply !opacity-0;
}
