body {
  font-family: 'Nunito', sans-serif !important;
  @apply bg-gray-50 text-textColor pb-[50px] md:pb-0;
}

.c-opener-menu .c-drop {
  @apply opacity-100 visible;
}

.bg-img {
  @apply bg-cover bg-center bg-no-repeat;
}

@media (max-width: 767px) {
  .shadow-negative {
    box-shadow: 0 -5px 15px #dfdfdf;
  }
}

/* heading */

.c-heading {
  @apply text-textColor mb-[45px];
}

.c-heading h1 span {
  @apply text-primary-dark;
}
.c-heading h1 {
  @apply relative inline-block capitalize;
}

.c-heading h1:before {
  content: '\e900';
  font-family: 'icomoon';
  @apply absolute w-full top-[80%] left-0 right-0 text-[8px] text-primary overflow-hidden;
}

.row {
  @apply flex flex-wrap -mx-4;
}

.row-sm {
  @apply flex flex-wrap -mx-2;
}

.two-col {
  @apply w-full sm:w-1/2 px-4 mb-4;
}

.two-col-sm {
  @apply w-full sm:w-1/2 px-2 mb-3;
}

.three-col {
  @apply w-full sm:w-1/2 md:w-1/3 px-4 mb-4;
}

.three-col-sm {
  @apply w-full sm:w-1/2 md:w-1/3 px-2 mb-3;
}

.four-col {
  @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-4;
}

.four-col-sm {
  @apply w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-2;
}
.six-col {
  @apply w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 px-4;
}

.ellipsis {
  @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
}

.form-holder {
  @apply !w-full;
}

/* ----------------- Stepper Styles --------------*/

.rc-steps-item-title {
  @apply text-lg !important;
}

.rc-steps .rc-steps-item-icon {
  @apply w-10 h-10 flex items-center justify-center !important;
}

.rc-steps-item-process .rc-steps-item-icon {
  @apply bg-gradient-to-r from-primary  to-primary-dark border-transparent !important;
}

.rc-steps-item-finish .rc-steps-item-icon {
  @apply border-primary !important;
}

.rc-steps-item-finish .rc-steps-item-icon > .rc-steps-icon {
  @apply text-primary text-lg top-0 !important;
}

.rc-steps .rc-steps-item-content {
  @apply pl-2 sm:pl-5;
}

.rc-steps .rc-steps-item-title {
  @apply my-1 !important;
}

.rc-steps-vertical .rc-steps-item {
  @apply pb-5;
}

.rc-steps-vertical .rc-steps-item-tail {
  @apply top-4 !important;
  top: 0.6rem !important;
  left: 18px !important;
}

.rc-steps-vertical .rc-steps-item-tail::after {
  @apply w-1 border-transparent top-4 !important;
}

.rc-steps-vertical .rc-steps-item-wait .rc-steps-item-tail::after {
  @apply border-gray-200 !important;
}

.rc-steps-vertical .rc-steps-item-active .rc-steps-item-tail:after {
  @apply bg-gradient-to-b from-primary  to-primary-dark  opacity-50 !important;
}

.rc-steps-vertical .rc-steps-item-finish .rc-steps-item-tail:after {
  @apply bg-gradient-to-b from-primary  to-primary-dark  !important;
}

.rc-steps-item-process .rc-steps-item-icon {
  background: linear-gradient(97deg, #75a535 3.73%, #75a535 111.08%) !important;
}

.rc-steps-item-description label {
  @apply !normal-case;
}

.rc-steps-item-container {
  @apply w-full max-w-full;
}

.login-banner {
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0 0 260px 0;
  background: linear-gradient(
      0deg,
      rgba(236, 28, 36, 0.64),
      rgba(236, 28, 36, 0.64)
    ),
    url('../images/bike-racing.jpg');
  background-size: cover;
}

.required {
  @apply text-error relative;
}

.badge-blue {
  @apply px-2 inline-flex text-xs leading-5 font-semibold uppercase rounded-full bg-blue-100 text-blue-800;
}

.user-icon a:hover svg {
  stroke: #75a535;
}

.react-tag-input {
  @apply w-full rounded-md  border-gray-400 py-1 px-3 shadow-sm  mb-1 
  focus:border-blue-300 focus:ring-inset focus:ring-1 focus:ring-blue-300 !important;
  min-height: 42px !important;
}

.css-b62m3t-container,
.css-3iigni-container {
  @apply text-base;
}
.css-qc6sy-singleValue {
  color: inherit !important;
}

/*RC Tabs*/
.rc-tabs {
  border: none !important;
}

.rc-tabs-tab {
  @apply pr-12 text-lg font-semibold pl-2 !important;
}

.rc-tabs-tab-active {
  @apply font-semibold !important;
}

.rc-tabs-top .rc-tabs-ink-bar,
.rc-tabs-bottom .rc-tabs-ink-bar {
  @apply h-0.5 !important;
}

.rc-tabs-ink-bar {
  @apply bg-primary-dark !important;
}

.rc-tabs-tabpane {
  @apply pt-8 pb-4 px-2 !important;
}

/*Image Gallery*/
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  text-align: left !important;
}

.image-gallery-icon svg {
  @apply !w-[25px];
}

.image-gallery-icon:hover .image-gallery-svg {
  @apply transform-none text-primary;
}

.image-gallery {
  @apply max-w-[660px] mx-auto lg:max-w-none mb-5 p-3 border border-gray-400 lg:border-0 lg:p-0;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  @apply max-h-[500px]  md:h-[450px] object-cover !important;
}

.image-gallery-slide.center {
  @apply max-h-[600px] md:h-[430px];
}

.fullscreen .image-gallery-slide .image-gallery-image {
  @apply h-auto !important;
  max-height: calc(100vh - 80px) !important;
}

.fullscreen .image-gallery-slide.center {
  @apply max-h-full !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image,
.image-gallery-thumbnail-inner {
  @apply h-[65px] object-cover;
}

/* ----------------- Modal Styles ----------------------------*/

.modalBackground {
  @apply fixed inset-0 bg-black  bg-opacity-80 z-50 flex items-center overflow-hidden;
}

.modal.Container {
  @apply px-7 py-5 mx-auto my-0 bg-white shadow-sm rounded-md;
  max-width: 90%;
  width: 550px;
  min-height: 9rem;
}

.modal .title h5 {
  @apply !normal-case;
}

.brand-detail-section .brand-img {
  @apply h-64 w-full;
}
.brand-detail-section .company-logo {
  @apply h-36 w-1/2;
}

/* .modalContainer .footer button {
  @apply w-40 h-10 border-0 bg-blue-300 text-white rounded-md text-xl cursor-pointer;
} */

/* ----------------------------Dropdown----------------------*/

.has-dropdown:hover .dropdown {
  @apply opacity-100 visible;
}

.has-dropdown:before {
  content: '';
  @apply absolute top-full left-0 right-0 h-4 bg-transparent;
}

/* ----------------------------Pagination----------------------*/
.custom-pagination ul {
  @apply inline-flex space-x-2;
}
.custom-pagination ul li {
  @apply text-sm;
}

.custom-pagination ul li a {
  @apply text-textColor;
}

.custom-pagination ul .selected {
  @apply font-bold bg-secondary-dark px-2 rounded-lg;
}

.custom-pagination ul .selected a {
  @apply text-white;
}

/* ----------------------------Unit Converter Wrapper----------------------*/
.unit-converter-container {
  @apply relative;
}

.unit-converter-container .unit-converter-dropdown {
  @apply absolute top-[27px] right-[6px] /* w-[81px] */ !important;
}

.unit-converter-container .unit-converter-dropdown select {
  @apply border-transparent bg-transparent shadow-none focus:ring-0 text-right pr-[46px] !important;
}

.unit-converter-container .css-319lph-ValueContainer {
  @apply mr-8;
}

.css-at12u2-loadingIndicator span {
  @apply text-error;
}

.list-max-height {
  @apply border border-gray-200 pt-3 pb-2 px-4 rounded-md w-96 mx-8  overflow-auto;
  max-height: calc(100vh - 300px);
}

.rc-steps .form-group {
  @apply py-4 border-b-2 border-gray-200 border-dotted;
}

/* ----------------------------tooltip----------------------*/
.tooltip-parent {
  @apply relative hover:cursor-pointer;
}

.tooltip {
  @apply px-3 py-1 bg-[#807e7e] text-white rounded-md absolute text-center min-w-[120px] left-1/2 translate-x-[-50%] top-[-30px] z-10 text-xs capitalize opacity-0 transition-all
  before:absolute before:w-0 before:h-0  before:border-solid before:border-t-[6px] before:border-r-[6px] before:border-b-0 before:border-l-[6px] before:top-[99%] before:left-1/2 before:-translate-x-1/2
   group-hover:opacity-100;
}

.tooltip:before {
  border-color: #807e7e transparent transparent transparent !important;
}

.seller-detail-edit-btn .btn {
  @apply mr-0 mb-0;
}

.vehicle-listing-section .three-col {
  @apply mb-10;
}

.disabled-input {
  background-color: hsl(0, 0%, 95%) !important;
  border-color: hsl(0, 0%, 90%) !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
}

.detail-image-gallery .image-gallery-slide {
  @apply h-[330px];
}

.detail-image-gallery .image-gallery-slide img {
  @apply object-cover;
}

.fullscreen .image-gallery-slide {
  @apply !h-auto;
}

.fullscreen .image-gallery-slide img {
  @apply !object-contain;
}

.css-26l3qy-menu {
  z-index: 10000 !important;
}

.select-price .css-26l3qy-menu {
  max-height: 105px !important;
  overflow-y: scroll;
  padding-bottom: 30px;
}

/* detail page accordion */

.detail-page-accordion-holder .accordion__heading {
  @apply shadow-md border !border-gray-300 rounded-md  overflow-hidden;
}

.detail-page-accordion-holder .accordion__item {
  @apply mb-3;
}
.detail-page-accordion-holder .accordion__button {
  @apply bg-white text-textColor font-semibold relative py-[12px] hover:bg-gray-50 !important;
}

.detail-page-accordion-holder .accordion__button:before {
  @apply absolute right-3 top-[18px];
}

.detail-page-accordion-holder .accordion__panel {
  @apply pt-5 pb-2 px-3 !important;
}

/* detail page tabs */
.detail-page-accordion-holder .rc-tabs-tab-btn {
  @apply text-sm;
}

.detail-page-accordion-holder .rc-tabs-tab {
  @apply bg-gray-200 mr-3 py-2 !px-5 text-center !rounded-md;
}

.detail-page-table {
  @apply border border-gray-400 !border-t-0;
}

.detail-page-table:first-child {
  @apply !border-t-[1px];
}

.c-banner-section img {
  background-position: top center;
}

.c-banner-form-section .css-1rnspe6-placeholder {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
}

.c-banner-form-section .form-row {
  @apply mb-3 md:mb-0;
}

.ad-fixed {
  @apply left-0 md:left-[180px] right-0 bottom-0 fixed bg-white py-3 px-[50px] transition-all;
  box-shadow: 1px -5px 10px rgb(223, 222, 222);
}

.sidebar-toggle .ad-fixed {
  @apply md:left-[60px];
}

.c-tab {
  @apply transition-all  !bg-transparent border border-gray-700 !text-textColor  !mr-3 !py-[6px] !px-5 !text-center !rounded-md !text-sm  !tracking-wider;
  @apply hover:bg-gray-700 hover:text-white !important;
}

.c-tab-active {
  @apply !bg-gray-700 border-transparent relative !text-white;
}
.mymodal {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-[1px] border-solid bg-gray-200 overflow-auto max-w-[575px] rounded-md outline-none px-5 py-7;
}

.myoverlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-75;
}

.ReactModal__Overlay {
  @apply opacity-0 transition-all;
}

.ReactModal__Overlay--after-open {
  @apply opacity-100;
}

.ReactModal__Overlay--before-close {
  @apply opacity-0;
}

.ReactModalPortal {
  @apply relative z-[1000];
}

.styles_modal__gNwvD {
  @apply z-50;
}

/*Listing page filter toolbar*/

.toolbar-accordion-holder:first-child {
  @apply !flex;
}

.toolbar-accordion-holder .accordion__heading {
  @apply shadow-sm border-b-0 border-t-0 border !border-gray-200 rounded-sm overflow-hidden;
}

.toolbar-accordion-holder .accordion__item {
  @apply mb-3;
}
.toolbar-accordion-holder .accordion__button {
  @apply bg-white text-textColor font-semibold relative py-[12px] hover:bg-gray-50 !important;
}

.toolbar-accordion-holder .accordion__button:before {
  @apply absolute right-3 top-[18px];
}

.toolbar-accordion-holder .accordion__panel {
  @apply bg-white border-t-0 border !border-gray-200 pt-5 pb-2 px-3 !important;
}

.comment-box textarea {
  @apply border-0 border-b-[1px] border-gray-400 px-0 rounded-none resize-none bg-transparent h-[42px] focus:outline-none focus:border-blue-300 focus:ring-0;
}

.btn-comment-holder {
  @apply text-right !mt-2;
}

.btn-comment-holder .btn {
  @apply text-sm;
}

input {
  @apply focus:ring-0 focus:shadow-none !important;
}
