.container-sm {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  padding: 15px 0;
  /* box-shadow: 9px 5px 15px #f1f1f1; */
}

#header .container-sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#header .opener {
  font-size: 22px;
  color: #333;
}

#header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header .menu li {
  margin-left: 35px;
  font-size: 20px;
}

#header .menu li:first-child {
  margin-left: 0;
}

#header .menu a {
  color: #333;
}

#header .menu a:hover {
  opacity: 0.85;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: -999px;
  top: 63px;
  height: 100%;
  background-color: #373737;
  width: 200px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  z-index: 99;
  padding-bottom: 100px;
}

.sidebar .link-name {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: calc(100% - 34px);
}

.content-wrapper {
  position: relative;
  z-index: 9;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.logo-holder {
  color: #fff;
  transition: all 0.1s ease-in;
  white-space: nowrap;
}

.logo-text {
  transition: all 0.25s linear;
  display: inline-block;
}

.logo-icon {
  margin-right: 5px;
}

.logo-details {
  display: flex;
  padding: 15px 22px 0;
  margin-bottom: 20px;
  transition: all 0.25s ease-in;
  height: 70px;
}

.logo-details .db-sidebar-icon {
  color: #fff;
  font-size: 24px;
  width: 24px;
  margin-right: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.logo-details .opener {
  position: absolute;
  left: 94%;
  top: 50px;
  background-color: #f9fafb;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-details .opener .db-sidebar-icon {
  color: #333;
  transform: rotate(-180deg) translateX(-3px);
  width: 18px;
}

.sidebar-menu a {
  padding: 11px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  border-radius: 5px;
}

.sidebar-menu a:hover {
  background-color: #f4f4f4;
  color: #75a535;
}

.sidebar-menu a .db-sidebar-icon {
  transition: all 0.25s linear;
}

.sidebar-menu a:hover .db-sidebar-icon {
  color: #75a535;
}

.sidebar-menu::-webkit-scrollbar {
  display: none;
  /* chrome */
}

.sidebar-menu {
  overflow-y: auto;
  height: 90%;
  scrollbar-width: none;
}

.sidebar-menu li {
  position: relative;
  margin-bottom: 5px;
  padding: 0 10px;
}

.sidebar-menu li .sidebar-tooltip {
  position: absolute;
  z-index: 9;
  right: -120px;
  top: 0px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #333;
  color: #333;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}

.sidebar-menu li:hover .sidebar-tooltip {
  opacity: 1 !important;
  visibility: visible !important;
}

.sidebar-menu a .db-sidebar-icon {
  display: inline-block;
  font-size: 22px;
  width: 22px;
  margin-right: 12px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

/* Accordion Trigger */
.accordion__item--trigger {
  cursor: pointer;
}
/* Accordion Panel */
.accordion__item--panel {
  max-height: 0;
  opacity: 0;
  transition: max-height 350ms ease-in-out, opacity 350ms linear;
}

.accordion__item--trigger[aria-expanded='true'] + .accordion__item--panel {
  max-height: 5000px;
  opacity: 1;
}

.accordion__item--trigger .link-icon,
.accordion__item--trigger .link-name,
.accordion__item--trigger .acc-icon {
  pointer-events: none;
  transition: all 0.2s linear;
}

.sidebar-menu .sub-menu li {
  padding: 0 !important;
}

.sidebar-menu .sub-menu li a {
  padding: 8px 25px;
}

.sidebar-menu a[aria-expanded='true'] {
  background: #fff !important;
}

.sidebar-menu a[aria-expanded='true'] .db-sidebar-icon {
  color: #75a535;
}

.sidebar-menu a[aria-expanded='true'] .link-name {
  color: #75a535;
}

.sidebar-menu a[aria-expanded='true'] .acc-icon {
  transform: rotate(90deg);
}

.sidebar-menu a[aria-expanded='true'] ~ .sub-menu {
  background: #484747;
  padding: 10px 5px;
}

/* Accordion Trigger */
.accordion__item--trigger {
  cursor: pointer;
}
/* Accordion Panel */
.accordion__item--panel {
  max-height: 0;
  opacity: 0;
  transition: max-height 350ms ease-in-out, opacity 350ms linear;
}

.accordion__item--trigger[aria-expanded='true'] + .accordion__item--panel {
  max-height: 5000px;
  opacity: 1;
}

.accordion__item--trigger .link-icon,
.accordion__item--trigger .link-name,
.accordion__item--trigger .acc-icon {
  pointer-events: none;
  transition: all 0.2s linear;
}

.sidebar-menu a[aria-expanded='true'] {
  background: #484747;
}

.sidebar-menu a[aria-expanded='true'] .acc-icon {
  transform: rotate(180deg);
}

.sidebar-menu .sub-menu.blank {
  display: none;
}

.a-profile {
  display: none;
}

.a-profile:hover {
  cursor: pointer;
}

.a-profile:hover .a-profile-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.a-profile-dropdown {
  position: absolute;
  bottom: 90%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 1px 15px #bebdbd91;
  min-width: 180px;
  max-width: 220px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px);
  transition: all 0.25s;
}

.a-profile-dropdown a {
  padding: 5px 12px;
  color: #333;
  width: 100%;
}

.a-profile-dropdown a:hover {
  color: #77a836;
}

.a-profile .image-holder {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid white;
  display: inline-block;
  vertical-align: middle;
}

.a-profile .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.a-profile .detail-holder {
  width: calc(100% - 60px);
  margin-left: 10px;
  transition: all 0.25s linear;
  display: inline-block;
  vertical-align: middle;
}

.a-profile .name,
.a-profile .post {
  display: block;
}

.a-profile .post {
  font-size: 16px;
}

@keyframes move {
  0% {
    transform: translateX(0%);

    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-8%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  100% {
    transform: translateX(0%);
  }
}
.move {
  animation: move 2s infinite;
}

/* .sidebar-scroll-wrap {
  height: calc(100% - 50px) !important;
  overflow-x: hidden;
  width: 100%;
  transition: all 0.25s;
}

@media (min-width: 768px) {
  .sidebar-toggle .sidebar-scroll-wrap {
    width: 65px !important;
  }
} */

@media (max-width: 767px) {
  .logo-details {
    display: none;
  }

  .sidebar-toggle .sidebar {
    left: 0;
  }

  .sidebar {
    z-index: 99;
    padding: 15px 0;
  }
}

@media (min-width: 768px) {
  #header {
    padding: 20px 0;
  }

  #header .opener {
    display: none;
  }

  .sidebar {
    top: 0;
  }

  .sidebar-toggle .sidebar {
    width: 65px;
  }

  .sidebar {
    left: 0;
  }

  .sidebar-toggle .sidebar .link-name {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-size: 0;
  }

  .content-wrapper {
    left: 200px;
    width: calc(100% - 200px);
  }

  .sidebar-toggle .content-wrapper {
    left: 65px;
    width: calc(100% - 65px);
  }

  .sidebar-toggle .logo-holder .logo-text {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-width: 0;
  }

  .sidebar-toggle .logo-icon {
    margin-right: 0;
  }

  .sidebar-toggle .logo-details {
    padding: 15px 15px;
  }

  .sidebar-toggle .logo-details .db-sidebar-icon {
    margin-right: 0;
  }

  .sidebar-toggle .logo-details .opener .db-sidebar-icon {
    transform: rotate(0deg);
  }

  .sidebar-toggle .logo-details .opener {
    left: 90%;
  }

  .sidebar-toggle .sidebar-menu a {
    padding: 11px;
  }

  .sidebar-toggle .sidebar-menu li .sidebar-tooltip {
    display: block;
  }

  .sidebar-toggle .sidebardb-sidebar-icon {
    margin-right: 0;
  }

  .sidebar-toggle .sidebar-menu a .db-sidebar-icon {
    margin-right: 0;
  }

  .sidebar-toggle .sidebar-menu .sub-menu {
    background: #484747;
    padding: 10px 5px;
  }

  .sidebar-toggle .accordion__item--trigger .acc-icon {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-toggle .sub-menu {
    display: none;
  }

  .sidebar-toggle .accordion__item--trigger .acc-icon {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-toggle .sub-menu {
    opacity: 1;
  }

  .sidebar-toggle .sub-menu {
    position: absolute;
  }

  .a-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #484747;
    color: #fff;
    font-size: 14px;
    padding: 10px 8px;
    display: block;
    white-space: nowrap;
    border-bottom-right-radius: 10px;
  }

  .sidebar-toggle .a-profile .detail-holder {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-toggle .sidebar-menu .sub-menu.blank {
    display: block;
  }

  .sidebar-toggle .sidebar-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
  }

  .sidebar-toggle .sidebar-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .sidebar-toggle .sidebar-menu > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}
