.horizontal-steps .rc-steps-item-wait,
.horizontal-steps .rc-steps-item-finish {
  visibility: collapse;
  width: 0px;
}
.horizontal-steps .rc-steps-item {
  flex: unset;
}
.horizontal-steps .rc-steps-item-description {
  max-width: none !important;
}
.horizontal-steps .rc-steps-item-content,
.horizontal-steps .rc-steps-item-active {
  width: 100%;
  padding-left: 0px;
  margin-top: 0px;
}

.horizontal-steps .rc-steps-item-title::after {
  display: none !important;
}
.horizontal-steps .rc-steps .rc-steps-item-icon {
  display: none !important;
}

.horizontal-steps .rc-steps-item:last-child {
  flex: unset;
}

.rc-steps-horizontal:not(.rc-steps-label-vertical) .rc-steps-item {
  margin-right: 0 !important;
}

.horizontal-steps {
  padding-bottom: 80px;
}
