@font-face {
  font-family: 'icomoon';
  src: url('../src/fonts/icomoon.eot?i7m5tm');
  src: url('../src/fonts/icomoon.eot?i7m5tm#iefix') format('embedded-opentype'),
    url('../src/fonts/icomoon.ttf?i7m5tm') format('truetype'),
    url('../src/fonts/icomoon.woff?i7m5tm') format('woff'),
    url('../src/fonts/icomoon.svg?i7m5tm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-handshake:before {
  content: '\e906';
}
.icon-arrow-right1:before {
  content: '\e904';
}
.icon-arrow-right2:before {
  content: '\e905';
}
.icon-heading-pattern:before {
  content: '\e900';
  color: #ec1c24;
}
.icon-instagram:before {
  content: '\e901';
}
.icon-linkedin:before {
  content: '\e902';
}
.icon-facebook:before {
  content: '\e903';
}
