/* table tr {
  @apply flex items-center;
} */

table tr th,
table tr td {
  @apply whitespace-nowrap overflow-ellipsis overflow-hidden max-w-[260px];
}

table tr th span,
table tr td span {
  display: block;
}

table thead th {
  @apply bg-gray-100 overflow-visible;
}

table tbody tr td {
  @apply bg-white;
}

table tbody {
  @apply text-sm;
}

table tbody tr:nth-child(even) td {
  @apply bg-gray-100;
}

table tr th:nth-child(2),
table tr td:nth-child(2) {
  @apply md:sticky left-[47px] z-10 !important;
}

table tr th:first-child,
table tr td:first-child {
  @apply w-auto md:sticky left-0 z-10  !important;
}

table tr th:first-child {
  @apply h-[75px];
}

table tr th:first-child input[type='text'] {
  @apply hidden !important;
}

table input {
  @apply max-w-full !important;
}

table tbody .selected td {
  @apply bg-blue-200;
}

table tbody .selected:nth-child(even) td {
  @apply bg-blue-200;
}

.table-right-action-buttons button {
  @apply !text-sm !py-[6px] !px-[20px] m-0;
}
