*
{
    border-radius: 17px;
    margin:0px;
    padding:0px;
}
input
{
    width: 208px;
    height:37px;
    font-size: 33px
    
}
.container
{
    background-color:red;
    display:inline-block;
    text-align: center;
    margin: 33px 500px;

}
button
{ 

    border:solid yellow 2px;
    background-color: #0e2329;
    width:50px;
    height:50px;
    color:white;

}
p
{
    font-size: 48px;
    color:white;
    
}