*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
header
{   
    height:95vh;
    background-color:chartreuse;
    /* width:95vh; */
    
    /* background-image: url("C:\Users\Nitan thapa\Desktop\travel\img\showcase-photo1.jpg"); */
}

li
{
   display:inline;
 
}
.class1
{
width:50vw;

float:left;
text-align:center;
text-transform:uppercase;
font-size:32px;
background-color:blueviolet;
}

ul
{   
    width:50vw;
    list-style:none;
 
   float:left;
   text-align:center;
   text-transform:uppercase;
   background-color:yellow;
   
    
}

.empty
{
    clear:both;
}

a 
{
    text-decoration: none;
    margin:10px;
}

a:link
{
    color:purple;
}
a:visited
{
    color:red;
}

a:hover
{
    background-color:black;
}

a:active
{
    color:blue;
}
