<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{!-- vvimp in any input field we can not finde other datatype
    we can only send string --}}

    <form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <input type="password" placeholder="conformed password" name="conformedpassword">






    <button type="submit">submit</button>
    
    </form>


</body>
</html>