.dropDownOtherDetails {
  padding: 15px 25px;
  transition: all 1s ease;
  animation: DropDOwn 0.3s ease-in-out;

  & h2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #585858;
  }
  &__Transaction {
    &--top {
      padding: 0px 40px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(5, 270px);
      &-1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
    }
    margin-bottom: 20px;
    &-heading {
      display: inline-block;
    }
  }
  &__referral {
    &--top {
      padding: 0px 40px;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(7, auto);
    }
  }
}
.transcation-button {
  border: none;
  margin: 0px 0px 0px 10px;
  color: #00abcc;
  background-color: transparent;
  font-weight: 600;
}
@keyframes DropDOwn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
