.dropDownOtherDetails {
  padding: 15px 25px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: DropDOwn 0.3s ease-in-out;
  animation: DropDOwn 0.3s ease-in-out;
}

.dropDownOtherDetails h2 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #585858;
}

.dropDownOtherDetails__Transaction {
  margin-bottom: 20px;
}

.dropDownOtherDetails__Transaction--top {
  padding: 0px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (210px) [5];
  grid-template-columns: repeat(5, 210px);
}

.dropDownOtherDetails__Transaction-heading {
  display: inline-block;
}

.dropDownOtherDetails__referral--top {
  padding: 0px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (210px) [10];
  grid-template-columns: repeat(10, 210px);
}

.transcation-button {
  border: none;
  margin: 0px 0px 0px 10px;
  color: #00abcc;
  background-color: transparent;
  font-weight: 600;
}

@-webkit-keyframes DropDOwn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes DropDOwn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=TableContainer.css.map */
