/* ----------------------------Card----------------------*/
.card {
  @apply shadow-md overflow-hidden rounded-[10px] bg-[#f9f9f9] h-full;
}

.card .vehicle-name {
  @apply text-lg capitalize;
}

.card .card-image-holder {
  @apply h-[250px];
}

.card figure,
.card figure a {
  @apply h-full w-full;
}

.card .card-image-holder img {
  @apply w-full object-cover h-full;
}

.card .price {
  @apply font-semibold text-xl;
}

.card .compare {
  @apply hidden;
}

.card .card-body {
  @apply pt-3 pb-7 px-4;
}

.card::-webkit-scrollbar {
  display: none;
}

.card .detail-wrapper {
  @apply flex whitespace-nowrap  mx-[-10px] mt-4 overflow-x-auto;
  scrollbar-width: none;
}

.card .detail {
  @apply text-center flex flex-wrap px-[10px] min-w-[90px];
}

.card .detail .icon-holder {
  @apply w-full text-center flex justify-center mb-2;
}

.card .detail .icon-holder svg {
  @apply w-5 opacity-90;
}

.card .detail .name-icon {
  @apply w-full text-sm;
}

.c-card-sm a {
  @apply w-full;
}

.featured-section .c-card-sm img {
  @apply w-full h-[230px] object-cover;
}

.c-card-sm img {
  @apply w-full h-[190px] object-cover;
}
