@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import "./icomoon.css";
@import "./dashboard.css";
@import "./alice-carousel.css";
@import "./cards.css";
@import "./footer.css";
@import "./custom.css";
@import "./table.css";
@import "./horizontal-rc-step.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-bold capitalize;
  }
  h1,
  .h1 {
    @apply text-4xl md:text-5xl;
  }

  h2,
  .h2 {
    @apply text-3xl md:text-4xl;
  }

  h3,
  .h3 {
    @apply text-2xl md:text-3xl;
  }

  h4,
  .h4 {
    @apply text-xl md:text-2xl;
  }

  h5,
  .h5 {
    @apply text-lg;
  }

  h6,
  .h6 {
    @apply text-base;
  }

  a {
    @apply text-primary hover:text-primary-dark inline-block transition-all;
  }

  p {
    @apply mb-3;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full max-w-full rounded-md  border-gray-400 py-2 px-3 shadow-sm  mb-1
    focus:border-blue-300 focus:ring-inset focus:ring-1 focus:ring-blue-300;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply w-4 h-4 rounded border-gray-400 text-blue-400 focus:ring-blue-300;
  }

  label {
    @apply capitalize text-base mb-1 inline-block;
  }

  img {
    @apply max-w-full h-auto align-top;
  }
}

@layer components {
  .btn {
    @apply py-2 px-6 mr-3 mb-2 text-base text-white rounded-md uppercase transition-all font-semibold hover:text-white bg-textColor;
  }

  .btn-sm {
    @apply py-1.5 px-5 text-sm rounded-md  transition-all font-semibold hover:text-white bg-textColor;
  }

  .btn-lg {
    @apply py-3 px-7;
  }

  .btn-primary {
    @apply bg-gradient-to-r from-primary  to-primary-dark text-white hover:text-white hover:from-primary-dark  hover:to-primary;
  }

  .btn-disabled {
    @apply bg-gray-300 pointer-events-none opacity-75;
  }

  .btn-primary-disabled {
    @apply bg-gradient-to-r from-primary  to-primary-dark text-white hover:text-white hover:from-primary-dark  pointer-events-none opacity-75;
  }

  .btn-outline {
    @apply bg-transparent ring-primary ring-1 ring-inset border-primary text-textColor bg-gradient-to-r  hover:from-primary  hover:to-primary-dark;
  }

  .btn-secondary {
    @apply bg-gradient-to-r from-secondary  to-secondary-dark text-white hover:text-white hover:from-secondary-dark  hover:to-secondary;
  }

  .btn-tertiary {
    @apply bg-gray-500;
  }

  .btn-error {
    @apply bg-gradient-to-r from-error  to-error-dark text-white hover:text-white hover:from-error-dark  hover:to-error;
  }

  .btn-outline-error {
    @apply bg-transparent ring-error ring-1 ring-inset border-error text-textColor bg-gradient-to-r  hover:from-error  hover:to-error-dark;
  }

  .btn-link {
    @apply bg-transparent text-gray-800 hover:text-gray-700;
  }
}

::placeholder {
  @apply text-base  !important;
}

@layer utilities {
  ::placeholder {
    /* @apply text-base text-gray-400 !important; */
    color: #b9b9b9 !important;
  }

  .error-text {
    @apply text-error mb-2 pl-2;
  }
}

.badge {
  @apply inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-700 border rounded-none;
}

.badge-green {
  @apply border-green-500 text-green-500;
}

.badge-red {
  @apply border-red-500 text-red-500;
}

.css-1xhoubn-ToastContainer {
  @apply !z-[100000];
}

.badge-blue {
  @apply bg-info-light text-white rounded inline-block px-3 capitalize py-[1px];
}
.badge-yellow {
  @apply bg-warning-light text-white rounded inline-block px-3 capitalize py-[1px];
}
.badge-success {
  @apply bg-primary text-white rounded inline-block px-3 capitalize py-[1px];
}
.badge-error {
  @apply bg-error text-white rounded inline-block px-3 capitalize py-[1px];
}
.badge-orange {
  @apply bg-secondary text-white rounded inline-block px-3 capitalize py-[1px];
}
.delivery-problem {
  @apply bg-deliveryFail-light text-white rounded inline-block px-3 capitalize py-[1px];
}

.review-pending {
  @apply bg-reviewPending-dark text-white rounded inline-block px-3 capitalize py-[1px];
}

/* .form-holder {
  min-height: 300px;
} */
.order {
  min-height: 400px;
  min-width: 300px;
}

.change-popup-width {
  @apply w-[95%] sm:w-[70%] md:w-[50%] lg:w-[40%] xl:w-[30%] overflow-visible;
}

.mymodal {
  @apply w-[95%] sm:w-[70%] md:w-[50%] lg:w-[40%] xl:w-[30%];
}

.form-holder {
  @apply border-none outline-none !p-0 shadow-none;
}

.link {
  @apply text-blue-600;
}

.rc-tabs-content {
  @apply min-h-[400px];
}

.ck .ck-editor__main p {
  font-size: initial;
}
