
    
    <div> checking.........................................</div>
    {{!-- checking weather check .hbs file can be reuse 
    answer is no because  check.hbs folder is p1 and it is not
    register as partials--}}
