
{{!-- the amagine thing is you can als make the chunks of style --}}


* 
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

    header 
    {
        background-color: red;
        font-size:30px;
       
       
       
    }
    footer 
    {
        background-color: blue;
        font-size:30px;
    }

