.general__form fieldset {
  border: solid #aaa 1px;
  border-radius: 5px;
  padding: 20px 15px;
  margin: 0px 0px 20px 0px;
  background: #fff;
}

form .column-2,
form .column-1 {
  margin: 0px;
}

.general__form legend {
  font: 500 20px/1.5 "Noto Sans", sans-serif;
}

.general__form .form-module {
  margin: 0px 0px 20px 0px;
}

.general__form .form-label {
  padding: 0px 0px 5px 0px;
  display: inline-block;
  vertical-align: top;
  font: 400 18px/1 "Noto Sans", sans-serif;
}

.general__form .form-set {
}

.general__form input[type="text"],
.general__form input[type="number"],
.general__form input[type="password"],
.general__form input[type="email"],
.general__form input[type="tel"],
.general__form input[type="date"],
.general__form input[type="time"],
.general__form textarea {
  width: 100%;
  padding: 10px;
  border: solid #aaa 1px;
  border-radius: 5px;
  background: #fff;
  display: block;
  color: #000;
  font: normal 400 16px/1 "Noto sans", sans-serif;
  height: 40px;
  transition: border 0.4s ease-in-out;
}
