

{{!-- node in views folder 
dynamic webside or dynamic page are blace --}}

{{!-- dynamic websit are those page 
whose content are depend on another file

justlike in react props are pass to  another file --}}

{{!-- file.hbs is just like file.html but file.hbs is use for dynamic website purpose --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my firs hbs file</title>
</head>
<body>
    
    {{!-- to get data form main file ie app.js or any other main file here main file is 1-given-dynamic -website --}}
    {{!-- main file are those file where from where project strats to run --}}
<h1>my name is {{name}}</h1>
<h1>my surname is {{sur}}</h1>
<h1>my age is {{age}}</h1>
{{!-- it is called dynamic wepage because its content name,sur,age are depend on other page
ie depend on 1-giving-dynamic-website-response.js
this name,sur,age changes if other page change its value --}}
</body>
</html>